@media (min-width: 400px) {
    #movies {

        #middle-menu {

            .research {
                width: 10em;
            }
        }
    }
}

@media (min-width: 592px) {
    .column {
        width: 95%;
    }

    #movies {

        #middle-menu {
            padding: 0.8em 1.6em;

            .research {
                width: 12em;
            }
        }
    }
}

@media (min-width: 768px) {

    .column {
        width: 90%;
    }

    @film-height: 6.5rem;
    @film-hole-width: @film-height * 0.25;
    @film-thickness: @film-height * 0.06;

    #movie-list {

        .film {
            height: @film-height;

            .film-side {
                width: @film-hole-width;

                .hole {
                    border: @film-thickness solid @film-color;
                }
            }

            img {
                border-top: @film-thickness solid @film-color;
                border-bottom: @film-thickness solid @film-color;
            }
        }
    }

    #movie {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;

        img {
        width: 50%;
        }
        .movieInformation {
            width: 48%;

            h2, .text {
                width: 100%;
                background-color: @window-color;
                padding: 10px 15px;
                box-sizing: border-box;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 10px;

                .bold {
                    font-weight: 800;

                }
            }
        }
    }
}

@media (min-width: 992px) {

    .column {
        width: 80%;
    }

    @film-height: 7rem;
    @film-hole-width: @film-height * 0.25;
    @film-thickness: @film-height * 0.06;

    #movie-list {

        .film {
            height: @film-height;

            .film-side {
                width: @film-hole-width;

                .hole {
                    border: @film-thickness solid @film-color;
                }
            }

            img {
                border-top: @film-thickness solid @film-color;
                border-bottom: @film-thickness solid @film-color;
            }
        }
    }
}

@media (min-width: 1200px) {

    .column {
        width: 60%;
    }

    @film-height: 7.5rem;
    @film-hole-width: @film-height * 0.25;
    @film-thickness: @film-height * 0.06;

    #movie-list {

        .film {
            height: @film-height;

            .film-side {
                width: @film-hole-width;

                .hole {
                    border: @film-thickness solid @film-color;
                }
            }

            img {
                border-top: @film-thickness solid @film-color;
                border-bottom: @film-thickness solid @film-color;
            }
        }
    }

    #movie {
    margin-top: @header-height;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;

        img {
            width: 30%;
        }

        .movieInformation {
            width: 65%;

            h2, .text {
                width: 100%;
                background-color: @window-color;
                padding: 20px 60px;
                box-sizing: border-box;
                box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
                margin-bottom: 10px;

                .bold {
                    font-weight: 800;

                }
            }
        }
    }
}